<<<<<<< HEAD
body {
    margin: 0;
    background-color: #14001f;
    background-image:
        linear-gradient(rgba(255, 95, 208, 0.25) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 95, 208, 0.25) 1px, transparent 1px);
    background-size: 40px 40px;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    color: hwb(240 99% 0%);
    font-family: "Rajdhani", "Trebuchet MS", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    border: 12px solid #000000;
}
.grille-liens {
  background:rgba(255, 255, 255, 0.943); 
  backdrop-filter: blur(6px);          
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.975);
  color: #fff; 
  text-align: center;
  padding: 4px;
  margin: 40px auto;
  max-width: 600px; 
}

.titre-carte {
    color: hwb(317 0% 79%);
}
.nom, .prenom, .email, .tel {
   color: hwb(0 0% 100%);
}
.entete {
    margin-bottom: 3px;
    font-family: "Orbitron", "Arial Black", Arial, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    text-shadow:
        0 0 8px #ff5fd0,
        0 0 24px #f2020e;
}
=======
body {
    margin: 0;
    background-color: #14001f;
    background-image:
        linear-gradient(rgba(255, 95, 208, 0.25) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 95, 208, 0.25) 1px, transparent 1px);
    background-size: 40px 40px;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    color: hwb(240 99% 0%);
    font-family: "Rajdhani", "Trebuchet MS", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    border: 12px solid #000000;
}
.grille-liens {
  background:rgba(255, 255, 255, 0.943); 
  backdrop-filter: blur(6px);          
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.975);
  color: #fff; 
  text-align: center;
  padding: 4px;
  margin: 40px auto;
  max-width: 600px; 
}

.titre-carte {
    color: hwb(317 0% 79%);
}
.nom, .prenom, .email, .tel {
   color: hwb(0 0% 100%);
}
.entete {
    margin-bottom: 3px;
    font-family: "Orbitron", "Arial Black", Arial, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    text-shadow:
        0 0 8px #ff5fd0,
        0 0 24px #f2020e;
}
>>>>>>> 68d95a94b75026598de8b004c77f961b47ef5bec
