body {
    margin: 0;
    background-color: #14001f;
    background-image:
        linear-gradient(rgba(255, 95, 208, 0.25) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 95, 208, 0.25) 1px, transparent 1px);
    background-size: 40px 40px;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    color: hwb(240 99% 0%);
    font-family: "Rajdhani", "Trebuchet MS", Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    border: 12px solid #000000;
}
.grille-liens {
  background:#ffffff5e; 
  backdrop-filter: blur(6px);          
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.975);
  color: #fff; 
  text-align: center;
  padding: 4px;
  margin: 40px auto;
  max-width: 600px; 
  background-image:
        linear-gradient(rgba(255, 95, 208, 0.25) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 95, 208, 0.25) 1px, transparent 1px);
    background-size: 40px 40px;
}

.titre-carte {
    color: hwb(317 0% 79%);
    background-size: 40px 40px;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    margin: 0;
}
.nom, .prenom, .email, .tel {
   color: hwb(0 0% 100%);
}
.entete {
    margin-bottom: 3px;
    font-family: "Orbitron", "Arial Black", Arial, sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    filter: drop-shadow(0 0 3px rgba(255, 95, 208, 0.3));
    text-shadow:
        0 0 8px #ff5fd0,
        0 0 24px #f2020e;
}
summary {
  cursor: pointer;
  color: #e5ff00;
}
.avertissement {
  color: hsl(62, 100%, 50%);
  font-weight: bold;
}
.luetapprovés {
  color: hwb(69 2% 8%);
  font-weight: bold;
  text-decoration: underline;
}
.ans18 {
  color: hwb(69 2% 8%);
  font-weight: bold;
  text-decoration: underline;
}
.bouton {
    background-color:hwb(317 0% 79%);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: #14001f;
}
